* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000 url("../Media/img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Open sans", Arial, Helvetica, sans-serif;
  color: #fff;
}

/*Estilos CONTAINER*/

.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}

.bodyContainer {
  display: flex;
}

/*Fin estilos CONTAINER*/

/*Estilos HEADER*/
header {
  align-items: center;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

header {
  background-color: rgba(255, 255, 255, 0.3);
}

header .secLogo {
  display: flex;
  align-items: center;
}

header .menu a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

header .menu a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 10px;
}

.logo {
  width: 40px;
}
/*Fin estilos HEADER*/

/*Estilos MAIN*/
main {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  width: 80%;
}

main .bodyMain {
  padding: 20px;
}

.thumb1 {
  width: 100%;
}
/*Fin estilos MAIN*/

/*Estilos ASIDE*/

aside {
  width: 20%;
}

aside .ad {
  border: 1px solid #fff;
  border-collapse: collapse;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(155, 155, 155, 0.2);
  min-height: 100px;
  text-align: center;
  width: 100%;
}

/*Fin estilos ASIDE*/
